#### Importação da biblioteca Pandas

In [ ]:
import pandas as pd

#### Importação e atribuição dos datasets

In [1093]:
censo = pd.read_csv("datasets/censo_estado.csv")
rouanet = pd.read_csv("datasets/rouanet.csv")

#### Unificação dos datasets através das colunas estado_ibge e codigo

In [1094]:
data = pd.merge(rouanet, censo, left_on='estado_ibge', right_on='codigo')
data

,ano,estado_ibge,quantidade,valor_em_reais,estado,pib,codigo,area,população,idh,receita,despesa
0,2003,11,4,2.543000e+05,Rondônia,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
1,2004,11,11,3.947995e+05,Rondônia,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
2,2005,11,12,2.490391e+05,Rondônia,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
3,2006,11,7,1.774120e+05,Rondônia,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
4,2007,11,19,4.465080e+05,Rondônia,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
288,2008,35,2055,4.151045e+08,São Paulo,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
289,2010,35,2385,4.921061e+08,São Paulo,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
290,2011,35,2586,5.717870e+08,São Paulo,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
291,2012,35,2089,5.632651e+08,São Paulo,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
292,2013,35,2062,5.065708e+08,São Paulo,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08

#### Troca do nome do estado para a sigla correspondente

In [1095]:
data["estado"] = data["estado"].replace({"Acre": "AC", "Alagoas": "AL", "Amapá": "AP", "Amazonas": "AM", "Bahia": "BA", "Ceará": "CE", "Espírito Santo": "ES", "Goiás": "GO", "Maranhão": "MA", "Mato Grosso": "MT", "Mato Grosso do Sul": "MS", "Minas Gerais": "MG", "Pará": "PA", "Paraíba": "PB", "Paraná": "PR", "Pernambuco": "PB", "Piauí": "PI", "Rio de Janeiro": "RJ", "Rio Grande do Norte": "RN", "Rio Grande do Sul": "RS", "Rondônia": "RO", "Roraima": "RR", "Santa Catarina": "SC", "São Paulo": "SP", "Sergipe": "SE", "Tocantins": "TO", "Distrito Federal": "DF"})
data

,ano,estado_ibge,quantidade,valor_em_reais,estado,pib,codigo,area,população,idh,receita,despesa
0,2003,11,4,2.543000e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
1,2004,11,11,3.947995e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
2,2005,11,12,2.490391e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
3,2006,11,7,1.774120e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
4,2007,11,19,4.465080e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
288,2008,35,2055,4.151045e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
289,2010,35,2385,4.921061e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
290,2011,35,2586,5.717870e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
291,2012,35,2089,5.632651e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
292,2013,35,2062,5.065708e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08

#### Remoção das linhas com valor_em_reais = 0 e quantidade = 0

In [1096]:
data == 0
data = data[~(data == 0).any(axis=1)]
data

,ano,estado_ibge,quantidade,valor_em_reais,estado,pib,codigo,area,população,idh,receita,despesa
0,2003,11,4,2.543000e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
1,2004,11,11,3.947995e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
2,2005,11,12,2.490391e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
3,2006,11,7,1.774120e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
4,2007,11,19,4.465080e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06
...,...,...,...,...,...,...,...,...,...,...,...,...
288,2008,35,2055,4.151045e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
289,2010,35,2385,4.921061e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
290,2011,35,2586,5.717870e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
291,2012,35,2089,5.632651e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08
292,2013,35,2062,5.065708e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08

#### Criação da natural key através da soma das colunas estado_ibge e valor_em_reais

In [1097]:
data["natural_key"] = data["estado_ibge"] + data["valor_em_reais"]
data

/var/folders/lt/cn919_r91gld3rng37s0df2w0000gn/T/ipykernel_94917/3051571095.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["natural_key"]= data["estado_ibge"] + data["valor_em_reais"]

,ano,estado_ibge,quantidade,valor_em_reais,estado,pib,codigo,area,população,idh,receita,despesa,natural_key
0,2003,11,4,2.543000e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,2.543110e+05
1,2004,11,11,3.947995e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,3.948105e+05
2,2005,11,12,2.490391e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,2.490501e+05
3,2006,11,7,1.774120e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,1.774230e+05
4,2007,11,19,4.465080e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,4.465190e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,2008,35,2055,4.151045e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,4.151046e+08
289,2010,35,2385,4.921061e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,4.921062e+08
290,2011,35,2586,5.717870e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,5.717870e+08
291,2012,35,2089,5.632651e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,5.632651e+08
292,2013,35,2062,5.065708e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,5.065708e+08

#### Remoção de linhas duplicadas de acordo com a natural key

In [1098]:
data = data.drop_duplicates(subset='natural_key', keep='first')
data

,ano,estado_ibge,quantidade,valor_em_reais,estado,pib,codigo,area,população,idh,receita,despesa,natural_key
0,2003,11,4,2.543000e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,2.543110e+05
1,2004,11,11,3.947995e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,3.948105e+05
2,2005,11,12,2.490391e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,2.490501e+05
3,2006,11,7,1.774120e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,1.774230e+05
4,2007,11,19,4.465080e+05,RO,39450587,11,237765233,1757589,690,9.122311e+06,7.085530e+06,4.465190e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,2008,35,2055,4.151045e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,4.151046e+08
289,2010,35,2385,4.921061e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,4.921062e+08
290,2011,35,2586,5.717870e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,5.717870e+08
291,2012,35,2089,5.632651e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,5.632651e+08
292,2013,35,2062,5.065708e+08,SP,2038004931,35,248219481,45538936,783,2.328225e+08,2.319822e+08,5.065708e+08

#### Criação do arquivo final dados_tratados.csv

In [1099]:
data.to_csv("dados_tratados.csv")